<!-- app/templates/home/admin_dashboard.html -->

{% extends "base.html" %}
{% block title %}Painel administrativo{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Painel administrativo</h1>
                    <h3>Apenas para administradores!</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}