<!-- app/templates/admin/arvores/arvores.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Árvore Societária{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Árvore Societária</h1>
        <hr class="intro-divider">
        <div class="center">
            <!-- componente do TERCEIRO! -->
            <ul class="tree">
                <li><a>Wallbond System</a></li>
                <li><a>Tree Business Corp</a></li>
                <li>
                    <a>Warner Studios</a>
                    <ul>
                        <li>
                            <a>Warner Bros</a>
                            <ul>
                                <li><a>Warner Games</a></li>
                                <li><a>Tt Games</a></li>
                            </ul>
                        </li>
                        <li><a>Warner Productions</a></li>
                        <li><a>Warner Lmtd.</a></li>
                    </ul>
                </li>
                <li>
                    <a>Home Box Office</a>
                    <ul><li><a>Max HD</a></li></ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
