<!-- app/templates/admin/arvores/arvores.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Árvore Societária{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Árvore Societária</h1>
        {% if investimentos %}
        <hr class="intro-divider">
        <div class="center">
            <ul class="tree">
                {% for investimento in investimentos %}
                    <li>
                        <a>{{ investimento.empresa_pai }}</a>
                        <ul>
                            <li>
                            <a>{{ investimento.empresa_filha }}</a>
                            </li>
                        </ul>
                    </l>
                {% endfor %}
            </ul>
        </div>
        <div style="text-align: center">
        {% else %}
            <div style="text-align: center">
                <h3> Nenhuma participação foi incluída! </h3>
                <hr class="intro-divider">
        {% endif %}
            </div>
            <!-- componente do TERCEIRO! 
            <ul class="tree">
                <li><a>Wallbond System</a></li>
                <li><a>Tree Business Corp</a></li>
                <li>
                    <a>Warner Studios</a>
                    <ul>
                        <li>
                            <a>Warner Bros</a>
                            <ul>
                                <li><a>Warner Games</a></li>
                                <li><a>Tt Games</a></li>
                            </ul>
                        </li>
                        <li><a>Warner Productions</a></li>
                        <li><a>Warner Lmtd.</a></li>
                    </ul>
                </li>
                <li>
                    <a>Home Box Office</a>
                    <ul><li><a>Max HD</a></li></ul>
                </li>
            </ul>
            -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
