<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="br">
<head>
    <title>{{ title }} | Mergers</title>
    <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Mergers</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
              <li><a href="{{ url_for('home.admin_dashboard') }}">Painel</a></li>
              <li><a href="#">Árvore</a></li>
              <li><a href="#">Empresas</a></li>
              <li><a href="#">Participações</a></li>
            {% else %}
              <li><a href="{{ url_for('home.dashboard') }}">Painel</a></li>
              <li><a href="#">Árvore</a></li>
            {% endif %} 
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a><i class="fa fa-user"></i> Olá, {{ current_user.username }}!</a></li>
          {% else %}
            <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
            <li><a href="{{ url_for('auth.cadastrar') }}">Cadastrar</a></li>
            <li><a href="{{ url_for('auth.login') }}">Entrar</a></li>
          {% endif %} 
          </ul>
      </div>
    </div>
  </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                      {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                          <li><a href="{{ url_for('home.admin_dashboard') }}">Painel</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="#">Árvore</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="#">Empresas</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="#">Participações</a></li>
                          <li class="footer-menu-divider">⋅</li>
                        {% else %}
                          <li><a href="{{ url_for('home.dashboard') }}">Painel</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="#">Árvore</a></li>
                          <li class="footer-menu-divider">⋅</li>
                        {% endif %} 
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                      {% else %}
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="{{ url_for('auth.cadastrar') }}">Cadastrar</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="{{ url_for('auth.login') }}">Entrar</a></li>
                      {% endif %} 
                    </ul>
                    <p class="copyright text-muted small">Copyright &#169; Estrutura Societária - IHC 2017 </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
